name: Initialize Spring Project
on:
  push:
    branches:
      - main
jobs:
  generate-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Spring CLI
        run: |
          brew tap spring-io/tap
          brew install spring-boot
      
      - name: Run Spring Initializr
      {% set params = ctx.current_template['parameters'] %}
        run: |
          spring init \
            --build={{ctx.current_template['parameters']['BUILD_TOOL']}} \
            --language={{ctx.current_template['parameters']['JVM_LANGUAGE']}} \
            --java-version={{ctx.current_template['parameters']['JAVA_VERSION']}} \
            --packaging={{ctx.current_template['parameters']['PACKAGING']}} \
            --group-id={{ctx.current_template['parameters']['GROUP_ID']}} \
            --artifact-id={{ctx.current_template['parameters']['ARTIFACT_ID']}} \
            --dependencies=web
          
      - name: Unzip Spring project
        run: unzip demo.zip

#      - name: Remove initialization workflow
#        run: rm .github/workflows/init_repository.yml
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Initialize Spring project
          title: Initialize Spring project
          delete-branch: true
