name: Initialize Spring Project
on:
  push:
    branches:
      - main
jobs:
  generate-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Spring CLI
        run: |
          brew tap spring-io/tap
          brew install spring-boot
{% set params = ctx.current_template['parameters'] %}
      - name: Run Spring Initializr
        run: |
          spring init \
            --build={{params.BUILD_TOOL}} \
            --language={{params.JVM_LANGUAGE}} \
            --java-version={{params.JAVA_VERSION}} \
            --packaging={{params.PACKAGING}} \
            --group-id={{params.GROUP_ID}} \
            --artifact-id={{params.ARTIFACT_ID}} \
            --name={{params.ARTIFACT_ID}} \
            --description={{params.DESCRIPTION}} \
            --dependencies=web \
            --force \
            --extract

#      - name: Remove initialization workflow
#        run: rm .github/workflows/init_repository.yml
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Initialize Spring project
          title: Initialize Spring project
          delete-branch: true
